.attribution {
  display: flex;
  flex-direction: row;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

.item {
  display:flex;
  border-radius: 20px;
  overflow: hidden;
}

.res {
  text-align: center;
  padding: 50px;
  width: 300px;
  display: flex;
  background-color: #0330f7;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
 
}

.sum {
  text-align: center;
  padding: 50px;
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 240, 240, 0.532);
}

.continue-btn {
  margin-top: 20px;
  padding: 12px;
  border: none;
  background-color: #0330f7;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
}