.attribution {
  display: flex;
  flex-direction: row;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  background-color: rgb(217, 217, 217);
}

.item {
  display:flex;
  border-radius: 20px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.532);

}

.my-result img {
  width: 30px;
  height: 30px;
}

.res {
  text-align: center;
  padding: 50px;
  width: 300px;
  display: flex;
  background-color: rgb(2, 47, 247);
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  color: aliceblue;
}

.points {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  margin: auto;
  background-color: #0025c5;
}

.your-points {
  font-size: 68px;
  margin: 20px 0 10px;
}

.sum {
  text-align: center;
  padding: 50px;
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.532);
}

.sum ul.my-result {
  display: flex;
  flex-direction: column; 
  list-style: none;
  padding: 0px;
}

.sum ul.my-result > li {
  display: flex;
  height: 40px;
  width: 300px;
  justify-content: space-evenly; 
}


.sum li.reaction {
  align-items: center;
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: rgba(255, 87, 87, 0.097);
}

.sum li.memory {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: rgba(255, 177, 31, 0.1);
}

.sum li.verbal {
  align-items: center;
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: rgba(0, 189, 145, 0.13);
}

.sum li.visual {
  align-items: center;
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: rgba(17, 36, 212, 0.114);
}

.reaction p {
  color: rgb(255, 87, 87);
}

.memory p {
  color: rgb(255, 176, 31);
}

.verbal p {
  color: rgb(0, 189, 145);
}

.visual p {
  color: rgb(17, 37, 212)
}

.sum h1 {
  text-align: left;
}

.you-score {
  font-weight: bold;
  color: black;
}
.max-score {
  color: #0101016c;
}

.continue-btn {
  margin-top: 20px;
  padding: 12px;
  border: none;
  background-color: rgb(2, 47, 247);
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
}

.continue-btn:hover {
  background-color: #00198a;
  animation: grow 1s ease forwards;
  animation-delay: 0.5s;
}
